* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
}

main .principal{
 display: flex;
 flex-direction: column;
 margin: auto;
 width: 20rem;
}

h1 {
  color: red;
}

#cristalBallImg {
  width: 5rem;
}
