* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  font-family: sans-serif;
}

#cristalBallImg {
  width: 10rem;
}

.principal {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  max-width: 400px;
  width: 80%;
  align-items: center;
  gap: 0.5rem;
}

.principal input {
  width: 18rem;
  height: 3rem;
  text-align: center;

  border: 1px solid plum;
  border-radius: 0.2rem;
}

.principal input:hover {
  border: 2px double pink;
}

button {
  width: 18rem;
  height: 3rem;
  text-align: center;
  font-weight: 600;
  color: aliceblue;
  background-color: rgb(137, 22, 214);
  border: 1px solid plum;
  border-radius: 0.2rem;
}

button:hover {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 2px,
    rgb(8, 23, 153) 0px 0px 0px 3px, rgb(60, 11, 100) 0px 0px 0px 4px,
    rgb(108, 57, 228) 0px 0px 0px 5px;
}
