* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  font-family: sans-serif;
}

#cristalBallImg {
  width: 10rem;
}

.principal {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  max-width: 400px;
  width: 80%;
  align-items: center;
  gap: 0.5rem;
}

.principal input {
  width: 17rem;
  height: 2rem;
  text-align: center;

  border: 1px solid plum;
  border-radius: 0.2rem;
}

.principal input:hover {
  border: 2px double pink;
}
