* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  font-family: sans-serif;
}

main .principal {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  width: 20rem;
  align-items: center;
  gap:0.5rem;
}

.principal input{
  width: 17rem;
  height: 1.5rem;
  align-items: center;
}

#cristalBallImg {
  width: 10rem;
}
